[DB]
DSN=DNS_VALUES
UID=USER_ID
PWD=USER_PASSWORD
PASSWORD=USER_PASSWORD
DATABASE=sample
DB=sample
DFLT_BIGINT_BIND_STR=1
DRIVER=MySQL ODBC 9.1 Unicode Driver
NO_SCHEMA=1
PORT=3306
SERVER=192.168.123.123
USER=USER_ID
